{
    "aws": {
        "accessKeyId": "myAccessKey",
        "secretAccessKey": "mySecretAccessKey",
        "region": "us-standard",
        "bucket": "myBucket"
    },
    "redshift": {			
    	"implementation": "PostgresDatastore",
    	"connectionString": "tcp://user:password@redshift.aws.amazon.com:5439/db",	
    	"delimiter": "|",
    	"extension": "log"
    },
    "redshiftOptions": { 
        "tableName": "public.redshiftcopy_test",
    	"fields": [ "event_timestamp", "ip", "id" ],
    	"delimiter": "|",
    	"extension": "log",
    	"threshold": 2,
    	"idleFlushPeriod": 1000 
    }
}